body {
    width: 800px;
}

#QuestionnaireItem_Modify {
}

    #QuestionnaireItem_Modify .Table2 th {
        text-align: right;
    }



    #QuestionnaireItem_Modify .Button2.Red {
        float: left;
    }

    #QuestionnaireItem_Modify .Button2.Blue {
        float: right;
    }
