#Order_Form {
    padding-top: 20px;
    color: #594831;
}

    #Order_Form .Block {
        padding: 0 6% 30px 6%;
    }

        #Order_Form .Block .SubTitle {
            text-align: center;
        }

            #Order_Form .Block .SubTitle h1 {
                display: block;
                font-weight: normal;
                letter-spacing: 1px;
                font-size: 29px;
            }

            #Order_Form .Block .SubTitle .Divider {
                margin: 10px auto;
                display: block;
                width: 43px;
                border-bottom: 4px solid #8B6E49;
            }

    #Order_Form .UserInfo {
        margin: 0 auto;
        width: 470px;
    }

        #Order_Form .UserInfo th {
            font-size: 23px;
            letter-spacing: 1px;
            font-weight: normal;
            text-align: right;
        }

        #Order_Form .UserInfo td {
        }

            #Order_Form .UserInfo td input {
                padding: 0 6px;
                width: 320px;
                height: 40px;
                font-size: 23px;
                border: 1px solid #8B6E49;
            }

            #Order_Form .UserInfo td .MemberAccountErrorMessage {
                display: none;
                color: red;
                font-size: 13px;
            }

            #Order_Form .UserInfo td input.Error {
                border: 2px solid red;
                width: 318px;
                height: 38px;
            }

            #Order_Form .UserInfo td select {
                text-align: center;
                height: 40px;
                width: 161px;
                font-size: 19px;
                border: 1px solid #8B6E49;
            }

                #Order_Form .UserInfo td select:first-child {
                    margin-right: 8px;
                }

    #Order_Form .ShopList {
    }

        #Order_Form .ShopList .ShopItem {
            float: left;
            margin: 2px;
            padding: 6px 6px 10px 6px;
            display: block;
            width: 191px;
            color: #8B6E49;
            text-align: center;
            letter-spacing: 1px;
            /*border: 1px solid rgba(139, 110, 73, 0.5);*/
            background-color: #f1f1f1;
            border-radius: 10px;
            opacity: 0.7;
        }

            #Order_Form .ShopList .ShopItem:hover,
            #Order_Form .ShopList .ShopItem.Selected {
                color: white;
                text-shadow: 0 1px 0px #594831;
                background-color: #8B6E49;
                opacity: 1;
            }

            #Order_Form .ShopList .ShopItem .Name {
                display: block;
                font-size: 19px;
            }

            #Order_Form .ShopList .ShopItem .Phone {
                display: block;
                font-size: 15px;
            }

            #Order_Form .ShopList .ShopItem .Address {
                display: block;
                font-size: 11px;
            }

    #Order_Form .GoogleMap {
        margin: 2px auto 0 auto;
        display: block;
        width: 100%;
        height: 0;
        border-radius: 10px;
    }

    #Order_Form .Calandar3 {
    }

        #Order_Form .Calandar3 > div {
            margin: 0 auto;
            width: 100% !important;
            font-size: 16px;
            border-radius: 10px;
        }

        #Order_Form .Calandar3 .ui-widget-header {
            color: white !important;
            margin: 0 auto;
            width: 98%;
            border: none !important;
            border-radius: 3px;
            background: none !important;
            background-color: #8B6E49 !important;
            opacity: 0.85;
        }

        #Order_Form .Calandar3 .ui-datepicker-group {
            background-color: rgba(89, 72, 49, 0.02);
            border-radius: 10px;
            height: 290px;
        }

            #Order_Form .Calandar3 .ui-datepicker-group.ui-datepicker-group-middle {
                width: 33%;
                background-color: rgba(89, 72, 49, 0.05);
                border-top-width: 0px;
                border-bottom-width: 0px;
                border-radius: 10px;
            }

        #Order_Form .Calandar3 .ui-widget-content,
        #Order_Form .Calandar3 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
            color: #8B6E49;
            border: 0px solid rgba(139, 110, 73, 0.5) !important;
            text-align: center;
            background: none !important;
        }

        #Order_Form .Calandar3 a {
            width: 27px;
            height: 27px;
            line-height: 27px;
            border-radius: 40px;
            opacity: 0.7;
        }

            #Order_Form .Calandar3 a:hover {
                color: #fff !important;
                background-color: #8B6E49 !important;
                opacity: 0.6;
            }

        #Order_Form .Calandar3 .ui-state-active,
        #Order_Form .Calandar3 .ui-state-active:hover {
            font-weight: bold;
            color: #fff !important;
            background-color: #8B6E49 !important;
            opacity: 1;
        }

    #Order_Form .RoundList {
        text-align: center;
    }

        #Order_Form .RoundList .RoundItem {
            margin: 2px;
            padding: 6px 6px 10px 6px;
            display: inline-block;
            width: 146px;
            color: #8B6E49;
            text-align: center;
            letter-spacing: 1px;
            background-color: #f1f1f1;
            border-radius: 10px;
            opacity: 0.7;
        }

            #Order_Form .RoundList .RoundItem:hover,
            #Order_Form .RoundList .RoundItem.Selected {
                color: white;
                text-shadow: 0 1px 0px #594831;
                background-color: #8B6E49;
                opacity: 1;
            }

        #Order_Form .RoundList .NoRound {
            font-size: 31px;
            color: #aaa;
        }

    #Order_Form .SendButton {
        margin-right: 10px;
        display: inline-block;
        width: 260px;
        padding: 10px 0;
        color: white;
        font-size: 19px;
        letter-spacing: 1px;
        text-align: center;
        background-color: #8B6E49;
        border-radius: 10px;
        vertical-align: middle;
    }
