body {
    width: 400px;
}

#School_Modify {
}

    #School_Modify .Table2 .Plans {
        line-height: 30px;
    }

    #School_Modify .Button2.Red {
        float: left;
    }

    #School_Modify .Button2.Blue {
        float: right;
    }
